target
.idea
nb-configuration.xml
nbactions*.xml

npm-debug.log
*.iml
node_modules
nohup.out
selenium.out
.v8flags.*
hit-web-server/data/
hit-web-server/src/main/resources/static/dist
hit-web-server/src/test/javascript/coverage
containers/vagrant/application.properties
.vagrant/
log/*
loc_*.sh
*.log
*.log.*
hit-taleo-data-import/src/main/resources/kafka

**/AwsCredentials.properties

!README.md
